<h3> Meus métodos de pagamento </h3>

<p> Aqui se encontram seus métodos de pagamento habilitados. </p>
    <p>- Pagamento via Pix</p>
    <p>- Pagamento via Boleto</p>
    <p>- Você ainda não tem nenhum cartão de crédito cadastrado.</p>
    <p><%= link_to 'Clique aqui para cadastrar um novo cartão', new_client_profile_customer_payment_method_credit_card_setting_path(current_client.client_profile, current_client.client_profile.customer_payment_method) %></p>
