<tr>
   <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
      <%= @status %> <span class="font-semibold"> <%= @name %> </span>
   </td>
   <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
      <%= @date %>
   </td>
   <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
      <%= @value %>
   </td>
</tr>
