<div class="pr-6 w-1/2">
  <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
    <div class="flex items-center justify-between mb-4">
      <h3 class="text-xl font-bold leading-none text-gray-900">Últimas Compras</h3>
      <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
        Ver Todas
      </a>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200">
        <%= render LinePushaseComponent.new(name: "danilo", value: "$320")%>
      </ul>
    </div>
  </div>
</div>
