<h1>Crie seu <%= t(:client_profile, scope: "activerecord.models") %></h1>
<p>Para avançar em seu cadastro, você deve preencher seu perfil com todos os dados abaixo.</p>

<%= render 'form', object: @client_profile %>