<div class="max-w-2xl mx-auto px-6 sm:px-6 lg:px-8 mb-12">
  <div class="bg-gray-900 w-full shadow rounded p-8 sm:p-12 mt-12">
    <h1 class="text-2xl mb-4 font-bold text-center text-white">Crie seu <%= t(:client_profile, scope: "activerecord.models") %></h1>
    <p class="font-bold text-white">Para avançar em seu cadastro, você deve preencher seu perfil com todos os dados abaixo.</p>

    <%= render 'form', object: @client_profile %>
  </div>
</div>
