<h1>Crie seu <%= t(:streamer_profile, scope: "activerecord.models") %></h1>
<p>Para avançar em seu cadastro, você deve preencher seu perfil com todos os dados abaixo.</p>

<%= render "form", object: @streamer_profile %>