<p>Ol치 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>N칩s estamos te contatando para notificar que seu email est치 sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>N칩s estamos te contatando para notificar que seu email foi alterado para <%= @resource.email %>.</p>
<% end %>
